#dm_wall {
    width: 100%;
    height: 600px;
    opacity: 0.5;
}

.controll {
    width: 400px;
    margin: 10px auto;
}

.danmu {
    font-size: 24px;
    line-height: 36px;
    background-color: #fff;
    z-index: 10;
    position: absolute;
}

#dm_text {
    border: 2px solid #66ccff;
    border-radius: 5px;
    width: 200px;
    height: 20px;
}

#biu, #remove {
    height: 26px;
    border: 1px solid #66ccff;
    font-size: 14px;
    background-color: #66ccff;
    border-radius: 5px;
    color: #fff;
}